API/Flow_Node
[
    {
        "id": "0ce6c868fce83984",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "22b2c0b0ca1b4e76",
        "type": "inject",
        "z": "0ce6c868fce83984",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 140,
        "wires": [
            [
                "46f7863fad3166be"
            ]
        ]
    },
    {
        "id": "46f7863fad3166be",
        "type": "function",
        "z": "0ce6c868fce83984",
        "name": "function 1",
        "func": "msg.payload = {\n    \"grant_type\": \"client_credentials\",\n    \"client_id\": \"abra\",\n    \"client_secret\": \"lwGDExe8qiiKGDfM3FFA7hTmFA7W7qUU\"\n};\nmsg.url = \"http://192.168.1.2:8080/realms/Abo/protocol/openid-connect/token\";\nmsg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 140,
        "wires": [
            [
                "847fc892308cd652"
            ]
        ]
    },
    {
        "id": "847fc892308cd652",
        "type": "http request",
        "z": "0ce6c868fce83984",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "msg.url",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [
            {
                "keyType": "msg",
                "keyValue": "headers",
                "valueType": "other",
                "valueValue": ""
            }
        ],
        "x": 370,
        "y": 140,
        "wires": [
            [
                "7dea2c0219921096"
            ]
        ]
    },
    {
        "id": "7dea2c0219921096",
        "type": "function",
        "z": "0ce6c868fce83984",
        "name": "function 2",
        "func": "if (msg.statusCode === 200) {\n    msg.token = msg.payload.access_tokens;\n    return msg;\n} else {\n    node.error(\"Erreur, status code = \" + msg.statusCode);\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 200,
        "wires": [
            [
                "477db3785f752b82"
            ]
        ]
    },
    {
        "id": "230d28d7cb8b9ab6",
        "type": "http request",
        "z": "0ce6c868fce83984",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "msg.url",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Authorization",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "Bearer {token}"
            }
        ],
        "x": 510,
        "y": 200,
        "wires": [
            [
                "3a521911b174aa5e"
            ]
        ]
    },
    {
        "id": "477db3785f752b82",
        "type": "function",
        "z": "0ce6c868fce83984",
        "name": "function 3",
        "func": "msg.headers = {\n    \"Authorization\": \"Bearer \" + msg.token,\n    \"Accept\": \"application/json\"\n};\nmsg.url = \"http://localhost:5000/api\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 200,
        "wires": [
            [
                "230d28d7cb8b9ab6"
            ]
        ]
    },
    {
        "id": "3a521911b174aa5e",
        "type": "function",
        "z": "0ce6c868fce83984",
        "name": "function 4",
        "func": "if (msg.statusCode === 429) {\n    if (context.retryCount == undefined) {\n        context.retryCount = 1;\n    } else {\n        context.retryCount++;\n    }\n\n    if (context.retryCount <= 3) {\n        node.warn(\"Trop de requêtes. Réessai dans 10 secondes.\");\n        msg.retry = true;\n        return [null, msg];\n    } else {\n        node.error(\"Erreur 429 trop de tentatives.\");\n        return null;\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 260,
        "wires": [
            [
                "e36aab201b07544f"
            ]
        ]
    },
    {
        "id": "e36aab201b07544f",
        "type": "delay",
        "z": "0ce6c868fce83984",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 360,
        "y": 260,
        "wires": [
            [
                "e9690b1bd2a5c746"
            ]
        ]
    },
    {
        "id": "e9690b1bd2a5c746",
        "type": "function",
        "z": "0ce6c868fce83984",
        "name": "function 5",
        "func": "try {\n    var jsonData = JSON.parse(msg.payload);\n    msg.payload = jsonData;\n    return msg;\n} catch (e) {\n    node.error(\"Erreur JSON\", e);\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 260,
        "wires": [
            [
                "ce7d0fb202ce5b68"
            ]
        ]
    },
    {
        "id": "ce7d0fb202ce5b68",
        "type": "debug",
        "z": "0ce6c868fce83984",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 220,
        "y": 320,
        "wires": []
    }
]
